    *{
        margin: 0px;
        padding: 0px;   
    }


    body{
        color:#014960;
        font-family: 'Open Sans', sans-serif;
        overflow-x: hidden;
        scrollbar-width: none;
    }

    #container{
        display:grid;
        width:100%;
        margin: 0 auto;
        margin-top: 0; 
    }

  .banner{
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom:1px;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    background-color:white;
  }

    .ban{
        margin-top: 0;
        width:25%;
        
    }

    .zonafotica{
        width:185px;
        height:120px;
        margin-left:70px;
        cursor: pointer;
    }
    .nav{
        width:60%;
    }


    .lista1 li{
        float:inline-start; 
        list-style: none;
        font-weight: 700;
        margin:7px;
        padding-left:3px;
        line-height:75px;
        cursor: pointer;
        
    }

    .lista1 li a:hover{
        color: #222; 
    }

    .listapie li a:not(:active){
        color: #fff; 
    }

.lista1 li a:not(:active){
        color: #014960; 
    }

    a{
        text-decoration: none;
    }

    .rrss{
        width:15%;
        display: flex;
        justify-content:left;
        margin-top: 15px;
        padding-top: 10px;
        line-height:40px;
    }
    
    .rrss-icon{
        display: inline-block;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        border-radius:50%;
        text-align: center;
        color:#666;
    }
    
    .rrss-icon:hover{
        background:#3c68ba;
        color: white; 
        cursor: pointer;
    }
    
    
    .rrss-icon i{
        font-size: 21px;
        line-height: 25px;
    }

    .subtitulo{
        font-weight: 400;
        color:white;
        margin-bottom: 40px;
        margin-top: 40px;
        font-size: 40px;
        text-align: center;
    }
   
    .subtitulo-nos{
        font-weight: 400;
        color:white;
        margin-top: 0px;
        margin-bottom:50px;
        font-size: 40px;
        text-align: center;
    }

    .subtitulo-negro{
        font-weight: 400;
        color:#000;
        margin-bottom: 40px;
        font-size: 40px;
        text-align: center;
    }
    .subtitulo-azul{
        font-weight: 400;
        color:#014960;
        margin-bottom: 40px;
        font-size: 40px;
        text-align: center;
    }

    
    .contenedor-inicio{
        padding:80px 30px 30px 20px;
        min-height:77vh; 
        margin-top:80px;
        text-align: justify;
        background-image: url(./imagenes/fondos/fondomar8.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed; 
	background-position:center ;
    color:black;
    }
    .contenedor-inicio2{
        padding:80px 30px 30px 20px;
        min-height:77vh; 
        text-align: justify;
        background-image: url(./imagenes/fondos/fondomar4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed; 
	background-position:center ;
    color:black;
    
    }
    .contenedor-servicio{
        padding:105px 60px 60px 60px;
        min-height:77vh; 
        color: aliceblue;
        text-align: center;/*revisar*/
        background-image: url(./imagenes/fondos/fondomar.jpeg);
        background-repeat: no-repeat;
	    background-size: cover;
	    background-attachment:fixed; 
	    background-position:center ;
        opacity: 0.9;
    }

    .contenedor-colaboradores{
        transition: background-image 0.5s ease;
        padding-top:90px;
        min-height:77vh; 
        background-image: url(./imagenes/fondos/fondomar.jpeg   );
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed; 
	background-position:center ;
    opacity: 0.9;
    color:black;
    }

    .contenedor-nosotros{
        color: aliceblue;
        padding:111px 60px 60px 60px;
        min-height:70vh;
        text-align: center;
        background-image: url(./imagenes/fondos/fondomar4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed; 
	background-position:center ;
    }


    .contenedor-principios{
        padding:111px 30px 80px 20px;
        min-height:60vh; 
        color: black;
        text-align: justify;
    }
 
    .contenedor-contacto{
        color: black;
        padding:111px 30px 22px 30px;
        min-height:60vh;
        text-align: center;
    }
    

    .video-container {
        background-image: url(./imagenes/fondos/fondomar5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed; 
        background-position:center ;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; 
        opacity: 0.9;
    }
    
    .contenedor-banco{
        padding:112px 30px 30px 20px;
        min-height:147vh; 
        opacity: 0.9;
        text-align: justify;
        /*background-color: #181857;*/
        /*background-image: url(./imagenes/fondos/fondomar5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed; 
        background-position:center ;*/
    }
    .video-container video {
        max-width: 100%; 
        max-height: 90%; 
    }
    
    .degradado {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px; /* Altura del degradado, ajusta según sea necesario */
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)); /* Degradado */
    }

    
    .grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 10px;
        width: 80%; /* Ajusta el ancho de la cuadrícula al 65% */
        margin: 0 auto; /* Centra la cuadrícula horizontalmente */

    }
    
    .grid img {
        max-width: 100%; /* Restamos 2px para compensar el espacio del borde */
        height: auto;
        display: block;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1;
        padding: 0; /* Eliminamos cualquier relleno predeterminado de las imágenes */
        border: none; /* Eliminamos cualquier borde predeterminado de las imágenes */
        margin: 10px; 
        box-shadow: 0 0 6px rgba(0,0,0,.5);
        cursor:pointer;
    }
    

    .grid1{
        grid-column: 1; 
        
    }
    .grid2{
        grid-column: 2; 
        
    }
    .grid3{
        grid-column: 3; 
        
    }
    
   

    .pie{
        position: relative;
        right:110px;
        width: 250px; 
      }

   
   

      form {
        max-width: 400px;
        margin: 0 auto;
      }
      label, textarea, input[type="email"], input[type="submit"] {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }
      textarea {
        height: 100px;
      }

   

input[type="submit"] {
    background-color: #014960;
    border: none;
    color:white;
    border-radius:8px;
    padding:4px;
    width:30%;
    cursor:pointer;
}

.lista2 li {
    width:auto;
    text-align: justify;
    margin-left: 20px;
    font-size:large;  
    
}

.correo-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px; /* Espacio entre las columnas */
}

.correo-item {
    flex: 1 1 150px; /* Establece el ancho máximo de las columnas */
    margin: 10px; /* Espacio alrededor de cada elemento */
    text-align: left;
    width:30px
}

.correo-item p {
    margin: 5px 0; /* Espacio entre las líneas */
   
}

footer { 
    padding: 2rem;
    background-color: #014960;
    color: white;
    display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.logo{
    grid-column: 1; 
    padding-left:90px;
    text-align: center;
    }

.rrssfoot{
        grid-column: 2;
        width:auto;
        display:flex;
        justify-content:flex-start;
        padding-top: 50px;
        line-height:45px;
        
    }
.info{
        grid-column: 3;
        margin-left:60px;
        }

.media{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width:100%;
    margin-bottom:30px;
    margin-top: -250px;
}

.contacto {
    font-size:1.2rem;;
    grid-column: 3; 
    margin-right:200px;
   
}

.dir {
    font-size:1.2rem;
    grid-column: 1; 
    margin-left:200px;
}

.otra-columna {
    grid-column: 2;
    grid-row: 2;
    font-size:1.2rem;
    position: relative;
    top:270px;
    margin-bottom: 220px;
}
      
#whatsapp-icon {
    color: green;
}

#email-icon {
    color:#ED1E35;
}
.colab{
    color:#fff;
    font-size:10px;
}

.listapie {
    list-style-type: none;
}

.listapie li a {
    text-decoration: none; 
}

.listapie li a:hover {
    color: #ED1E35; 
}


.listapie li a:active {
    color: white; 
}

.lista:not(:active) {
    color:black;
}

.correo{
    color:black;
}

.correo:hover{
    color: #ED1E35;
}

.whatsapp{
    color:black;
}

.whatsapp:hover{
    color:#ED1E35;
}

.zonafotica2{
    border-radius:100px;
    width:160px;
    height:160px;
}


.rrss-icon2{
    display: inline-block;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius:50%;
    text-align: center;
    color:white;
}

.rrss-icon2:hover{
    background:#ED1E35;
    color: white;
    cursor: pointer;
}

.rrss-icon2 i{
    font-size: 21px;
    line-height: 20px;
}

  
  .parrafo-principios {  
    overflow: hidden;
    text-align: center;
    max-width:600px;
    font-size:1.4rem;
    margin-top:15px;
    margin-left:28px;
}

  .orden-principios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    
  }


.imagen-principios {
    grid-column: span 1; /* Ocupa una columna completa */
    display: flex; /* Usa flexbox para centrar verticalmente */
    justify-content: center; /* Centra horizontalmente */
    margin-left: 1px;
}


.imagen-principios img {
    max-width: 50%; /* Ajusta el ancho máximo de la imagen */
    height: auto; /* Ajusta automáticamente la altura proporcionalmente al ancho */
}


  .parrafo-nosotros {
    margin: 0 auto;
    overflow: hidden;
    text-align: justify;
    max-width:600px;
    font-size:1.4rem;
}



.serv{
    display: grid;
    grid-template-rows: auto 1fr;
    gap:1px;
    border:3px solid black;
}
.imgserv{
    grid-row: 2;
    width: 50%; /* La imagen ocupará todo el ancho de la primera columna */
    max-width: 400px; 
    height: auto;
    border:3px solid black;
    margin-left: 80px;
}

.imgserv img{
    width:100px;
    margin-left:1px;
}

.parrafo-servicios {
    grid-row: 1;
    overflow: hidden;
    text-align: justify;
    margin: 0 auto;
    max-width:780px;
    font-size:1.4rem;
    width:95%;
    color:white;
}





@keyframes aparecerDesdeIzquierda {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .imagen img {
    animation: aparecerDesdeIzquierda 1s ease-in-out forwards;
  }

  .contenedor-circulo {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 50px auto;
    
    border-radius: 50%;
}

.colaborador {
    position: absolute;
    width: 150px;
    height: 150px;
    line-height: 1.5;
    text-align: center;
    color:white;
    
    
}
  

  .hr {
    border-top: 1px solid white; 
    width: 55%; 
    margin: 20px auto; 
  }
  
  /* Estilos para el modal */
.modal {
    display: none; /* El modal está oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 25%;
    top: 22.5%;
    width: 60%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo opaco */
    overflow: auto;
}

.modal-content {
    display: block;
    margin: auto;
    max-width: 100%; /* Tamaño máximo de la imagen */
    max-height: 100%; /* Altura máxima de la imagen */
}

.close {
    position: absolute;
    top: -15px;
    right:5px;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #999;
}


/* Estilos para oscurecer el fondo */
body.modal-open {
    overflow: hidden; /* Evita el desplazamiento del cuerpo */
    background-color: rgba(0, 0, 0, 0.6); /* Color de fondo oscuro */
    transition: background-color 0.3s ease; /* Transición suave */
}

.logo-transparente{
    width: 50%;
    margin: 0 auto;
}

.contenedor-circulo {
    display: grid;
    
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
  }
  
  .colaborador {
    border-radius: 50%;
    width: 150px;
  }
  
  .colaborador:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
  }
  
  .colaborador:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
  }
  
  .colaborador:nth-child(3) {
    grid-row: 1;
    grid-column: 3;  
  }
  
  .colaborador:nth-child(4) {
    grid-row: 2;
    grid-column: 1;
  }
  
  .colaborador:nth-child(5) {
    grid-row: 2;
    grid-column: 2; 
  }
  
  .colaborador:nth-child(6) {
    grid-row: 2;
    grid-column: 3;
  }
  
  .colaborador:nth-child(7) {
    grid-row: 3;
    grid-column: 2;
  }
  
  .zonafotica0{
    display: flex;
    margin: 0 auto;
    width:80%;
  }

  .inimg{
    position: relative;
    left:28%;
  }
  .inimg2{
    position: relative;
    left:12%;
  }

  .inimg3{
    position: relative;
    left:31%;
  }

.contactoclass{
    margin:0 auto; 
    padding-top: 10px; 
    padding-bottom: 30px; 
    width:450px; 
    text-align: justify;
}

  @media (max-width:768px) {
   
    #container{
        display:flex;
        flex-wrap: wrap;
    }

    .ban{
        
        margin-left:45px;
    }
    .nav{
        display: inline-block;
        margin-left:47px;
        padding: 0;
        width:80%;
       
    }
    .lista1 li {
        margin: -18px auto;
        padding: 5px; 
    }

    .banner{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 auto;
        padding: 0;
        
    }
    
    .rrss{
        margin: 0 auto;
    }

    .contenedor-inicio{
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-top:300px;
        
    }
    .zonafotica0{
        margin-left:-180px;       
    }

    .inimg{
        margin-left:-210px;     
        width: 320px;
        height: auto;
        margin-bottom:-10px;
    }
   
    .subtitulo{
        
        display:flexbox;
        flex-wrap: wrap;
        font-weight:100;
        width:35%;
        font-size:30px;
        margin-left:30px;
    }

    .parrafo-servicios{
        font-size:90%;
        margin-left:30px;
        margin-top:-5px;
        padding: 5px;
        width:35%;
        
    }
    .inimg2{
        margin-left:-80px;
        width: 25%;
        height: auto;
        padding: 5px;
    }

    .inimg3{
        margin-left:-200px;
        width: 35%;
        height: auto;
        margin-bottom:6px;
    }

    .img1, .img2, .img10, .img11, .img12  {
        display: block;
        margin-bottom: 5px;
        margin-left: 28px;
    }
    .img3 {
        display: block;
        margin-bottom: 5px;
        margin-left: 80px;
    }

    .img4, .img5{
        display: block;
        margin-bottom: 5px;
        width: 36%;
        margin-left: 40px;
        
    }

    .img6, .img7, .img8,.img9{
        display: block;
        margin-bottom: 7px;
        width: 40%;
        margin-left: 17px;
    }
    
    .contenedor-servicio {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: -35px;
    }

    .img13{
        width: 42%;
        height: auto;
        
    }

   
.subtitulo-negro{
    margin-left: -400px;
}
.orden-principios{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:40%;
    margin-left: 30px;
    margin-bottom:30px;
    min-height:60vh; 
    
    
}
.imagen-principios{
    margin-bottom:80px;
    
}
.parrafo-principios{
    /*display:grid; espacio abajo vacio generado por el top*/
    display: none;
    position: relative;
    top:-1035px;
    margin-bottom:144px;
    
}

.contenedor-nosotros{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.subtitulo-nos{
    margin-left: -400px;
}
.hr{
    margin-left: -70px;
}
.parrafo-nosotros{
    margin-left: -30px;
    width: 46%;
    justify-content: center;
}

.contenedor-banco,.contenedor-colaboradores{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.contenedor-circulo{
    margin-left: -100px;
}
.subtitulo-azul{
    margin-left: -440px;
}


.grid{
    width: 40%;
    margin-left: 0px;
}


.info{
    display: none;
}
.zonafotica2{
    margin-left: -100px;
}
.rrssfoot{
    margin-left: -5px;
}
.parrafofinal{
    display: none;
}
.colaborador{
    width: 40%;
    
}
.contenedor-contacto{
    display: flex;
    flex-direction: column;
    align-items: left;
    max-height:130vh; 
}
.contactoclass{
    margin-left: -10px;
    width:45%;
    
}
.media{
    margin-left: -10px;
    width:10%;
    
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    margin-bottom:0;
    padding-bottom: 0;
}
.dir{
    grid-column: 3;
    position: relative;
    left:90px;
}

.contacto{
    grid-column: 1;
    display:inline;
    
    position: relative;
    bottom:120px;
    left:90px;
    margin-bottom:0px;
}
.otra-columna{
    grid-column: 2;
    position: relative;
    left:90px;
}

  }