* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{
    font-family: 'Open Sans', sans-serif;
}

nav img{
    display: block;
    margin: 0 auto;
    width: 35%;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

ul li {
    list-style:none;
   position: relative;
   bottom:15px;
    justify-content: center;
    text-align: center;
   
}

nav ul li{
    color:#014960;
}

ul li a{
    text-decoration: none;
  
}

.redes{
    margin: 0 auto;
}

.rrss-icon{
    margin:0 5px;
    border-radius: 50%;
   display: inline-block;
   width: 22px;
   height:22px;
   position: relative;
   text-align: center;
    text-decoration: none;
    color: #777;
}

footer{
    background-color: #014960;
    display: flex;
    flex-direction: column;
}

.zonafoticafooter{
    width: 100px;
    height:100px;
    border-radius: 50%;
    margin: 7px auto;
}

.rrssfooter{
    margin: 5px auto;
    
}

footer ul{
    margin-top:18px;
}

.parrafofinal{
    color:white;
    margin: 7px auto;
}

.rrss-icon2{
    margin:0 5px;
    border-radius: 50%;
   display: inline-block;
   width: 22px;
   height:22px;
   position: relative;
   
   text-align: center;
    text-decoration: none;
    color: cadetblue;
}

.subtitulo-negro{
    font-weight: 400;
    color:#000;
    margin-bottom: 40px;
    font-size: 40px;
    text-align: center;
}
.subtitulo-negro.principios{
    position: relative;
    top:30px;
}

.subtitulo-azul{
    font-weight: bold;
    color:#014960;
    margin-bottom: 40px;
    font-size: 40px;
    text-align: center;
}

#whatsapp-icon {
    color: green;
}

#email-icon {
    color:#ED1E35;
}




h3{
    color:#0FA5DE;
    font-size: large;
    
}

.seccion9{
    margin:8px;
    font-size:88%;
}

.contacto{
    text-align: justify;
}

.contacto-centro{
    text-align: center;
    margin-bottom:13px;
}



.seccion8{
    overflow-x: hidden;
    font-size:91%;
    margin:10px;
}

.subtitulo-externo{
    font-size:x-large;
    color: white;
    display: flex;
    margin-top:0px;
    justify-content: center;
   }


   .row{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    margin-bottom:85px;
  }
  
  .colaboradorcentrado{
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .nombre-colaborador{
    color:white;
    font-weight: bold;
    position: relative;
    top:10px;
    }
    .cargo-colaborador{
    color: beige;
    position: relative;
    top:5px;
    }


.seccion7{
        transition: background-image 0.5s ease;
        background-image: url(./imagenes/fondos/fondomar.jpeg   );
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-attachment:fixed; 
	    background-position:center ;
        opacity: 0.9;
        color:black;
        padding-top:10px ;
        min-height:123vh;
}

.colaborador {
    width: 125px;
    height: 125px;
    line-height: 1.39;
    text-align: center;
    color:white;
    font-size:70%; 
    position: relative;  
    top:0px;
    margin:10px;
    
}

.colab{
    font-size: smaller;
    position: relative;
    color: bisque;
}

.colaborador .fa-envelope , .colaborador .fa-linkedin ,.fa-researchgate {
    position: relative;
    top:10px;
    
}

  
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left:11%;
    top:20%;
    width:80%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.modal-content {
    display: block;
    position: relative;
    top:0px;
    margin: auto;
    max-width: 100%; /* Tamaño máximo de la imagen */
    max-height: 100%; /* Altura máxima de la imagen */
    z-index: 1;
    overflow:hidden;
}

.close {
    position: absolute;
    top: -20px;
    right:5px;
    color: red;
    font-size: 50px;
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: pointer;
    z-index: 10;
}

.close:hover,
.close:focus {
    color: #999;
}


/* Estilos para oscurecer el fondo */
body.modal-open {
    overflow: hidden; /* Evita el desplazamiento del cuerpo */
    background-color: rgba(0, 0, 0, 0.6); /* Color de fondo oscuro */
    transition: background-color 0.3s ease; /* Transición suave */
}

.seccion6{
    margin: 10px;
    font-size: 70%;
}

.fila-tabla{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width:87%;
    position: relative;
    left:30px;
}

.info-tabla{
    
    font-size:93%;
    color: #06676F;
    display:inline-table;
    font-weight: bold;
    width:auto;
    
}

.parrafo-tabla{
    color: #06676F;
    font-weight: bold;
    font-size:65%;
    line-height:0.1em;
    width:100%;
    text-align: justify;
}

.logo-gob{
    position: relative;
  
    width:2.7rem;
    top:7px;
    left:0.2rem;
}

.zonatabla{
    position: relative;
    width:4rem;
}

.microalga1, .microalga2, .microalga3, .microalga4, .microalga5, .microalga6, .microalga7, .microalga8, .microalga9, .microalga10, .microalga11, .microalga12, .microalga13{
    cursor: pointer;
}

.micronociva1, .micronociva2, .micronociva3, .micronociva4, .micronociva5, .micronociva6, .micronociva7, .micronociva8, .micronociva9, .micronociva10, .micronociva11, .micronociva12, .micronociva13{
    display: none;
    width: 550px;
    height: auto;
}

.tabla{
    margin:  0 auto;
    border-collapse: collapse;
}

.tabla th{
    text-align: center;
    width:20px;
    background-color: #00A4AE;
    color: #fff;
    
}

.tabla td{
    text-align: center;
    border-right:2px solid  #65d8df;
    border-bottom:2px solid  #65d8df;
    color: #000;
    width:20px;
}

.seccion5{
    color: aliceblue;
    text-align: center;
    background-image: url(./imagenes/fondos/fondomar4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed; 
    background-position:center ;
    position: relative;
    
}

.subtitulo-nos{
    font-weight: bold;
    color:white;
    margin-top: 0px;
    margin-bottom:50px;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 30px;
}

.hr {
    border-top: 1px solid white; 
    width: 75%; 
    margin: 20px auto; 
  }

  .parrafo-nosotros {
    margin: 0 auto;
    overflow: hidden;
    text-align: justify;
    max-width:720px;
    font-size:1rem;
    margin: 10px;
}
.imagen-principios {
    display:flex; 
   flex-direction: column;
    justify-content: center; 
    padding: 0px;
    align-items: center;
    margin: 0;
}

.imagen-principios img {
    max-width:45%; 
    height: auto; 
}

.seccion3{
    color: aliceblue;
    text-align: justify;
    background-image: url(./imagenes/fondos/fondomar.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed; 
    background-position:center ;
    opacity: 0.9;
    border-top:1px solid cadetblue;
}

.subtitulo{
    font-weight: bold;
    color:white;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 2.5rem;
    text-align: center;
}
.subtitulo2{
    font-weight: bold;
    color:white;
    width:77%;
    margin: 0 auto;
    font-size: 1.4rem;
    text-align: center;
}

.fila-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left:10%;
    width:90%;
    gap:10px;
}

.parrafo-servicios {
    overflow: hidden;
    text-align: justify;
    margin: 10px;
    font-size:1.1rem;
    color:white;
}

.img12{
    position: relative;
    left:-5px;
    }

.img13{
width:80%;
position: relative;
left:10%;
}
.img4, .img5{width:90%; height:auto;}
.img6{width:80%; height:auto; 
    display: flex;
    justify-content: center;
    margin:30px auto;
}
.img7{ width:70%; height:auto;
    display: flex;
    justify-content: center;
    margin: 3px auto;
}
.img8{
    width:90%; height:auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.img9{
    width:90%; height:auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.inimg{
    width:70% ;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    top:20px;
}

.seccion2{
    border-bottom:1px solid cadetblue;
    text-align: justify;
    background-image: url(./imagenes/fondos/fondomar4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed; 
    background-position:center ;
    color:black;    
    margin-top: 10px;
}

.inimg20,.inimg30,.inimg40,.inimg50, .inimg60, .inimg70 {width:70%; height:auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;}

    

.subtitulotrans{
    font-weight: bold;
    color:white;
    font-size:xx-large;
    text-align: center;
    margin: 19px auto;
}

.subtitulocacho{
    color:white;
    font-weight: bold;
    font-size:xx-large;
    text-align: center;
    margin: 20px auto;
}

 
.logomovimiento{
    display: flex;
    margin: 0 auto;
    width:80%;
  }

  @keyframes emergeLogo {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.seccion1{
    background-image: url(./imagenes/fondos/fondomar8.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed; 
	background-position:center ;
    height:80vh;
    position: relative;
    top:10px;
}

.rrssfooter a:hover{
    color:#ED1E35;
  }

.redes  a:hover{
    color:#ED1E35;
  }

 


ul li a:not(:active){
    color: #054a5f; 
}

ul li a:not(:active){
    color: #2895b6; 
}
ul li a:hover{
    color:#ED1E35;/* #14afc6; */
}


footer ul li a:not(:active){
    color: #51c9ed; 
}
footer ul li a:hover{
    color: beige; 
}


ul li.parrafo-referencias{
    font-style: italic;
    color: #888;
    text-align:justify;
    margin-bottom: 15px;
    margin-top: 15px;
    list-style:circle;
    
}

.fila-img{
    width:83%;
}
.fila-img.post{
    position: relative;
    left:9%;
    
}
.fila-img.post2{
    position: relative;
    left:8%;
    
}
.fila-img.post5{
    position: relative;
    left:10%;
}

.fila-img.post4{
    position: relative;
    width:78%;
}

.fila-img.post3{
    position: relative;
    width:79%;   
}

.colaborador-afoto{
    width:70%;
    height: auto;
    border-radius: 50%;
    border:3px solid rgb(135, 201, 204);
}


@media (min-width:1000px) {
    .colaboradorcentrado{
        position: relative;
        right:17px;
    }
    .subtitulo-externo{
        margin-top:80px;
        position: relative;
        right:15px;
    }
    .fila-img.post5{
        position: relative;
        left:0%;
    }

    .alinear1{
        position: relative;
        top:43px;
    }

    .subtitulo2{
    font-weight: bold;
    color:white;
    width:77%;
    margin: 0 auto;
    font-size: 1.6rem;
    text-align: center;
}
    
    .alinear3{
        position: relative;
        top:-8px;
    }
    
    .alinear4{
        position: relative;
        top:-42px;
    }
    .inimg50,.inimg60{
        display: inline;
        width:43%;
        height: auto;
    }
    .imagen-principios img {
        width:18%; 
        height: auto; 
        position: relative;
        left:60px;
    }

    .imagen-principios {
        flex-direction: row;
        display: inline;
  
    }
    nav{
        flex-direction: row;
    }
    footer{
        flex-direction: row;
        position: relative;
        top:40px;;
    }
    
    .fila-img{
        flex-direction: row;
        gap:9px;
        left:0%;
        width:100%;
    }

    .inimg{
        padding-bottom:30px;
    }

    .inimg20{
        width:30%; height:auto;
        
    }
    .inimg30,.inimg40{
        width:42%; height:auto;
    }

    .fila-img.post, .fila-img.post2  {
        width:65%;
        left:17% ;
        position: relative;
        
    }

    .fila-img.post3 {
        width:77%;
        margin: 0 auto;
    }

    .fila-img.post4{
        width:80%;
        margin: 0 auto;
    }

    .fila-img.post4 img{
        margin:20px;
    }
    .inimg70 {
        width:30%; height:auto;
    }

    

    .inimg40{
        width: 19%;
        height: auto;
    }
    .inimg,.img4,.img5{
        width: 40%;
        height: auto;
    }
    .logomovimiento{
        width: 50%;
        height: auto;
    }
    nav img{
        width:20%;
        position: relative;
        right:30px;
    }
    .img6 {
        width:35%;
        margin-top:50px;
    }
    .img7 {
        width:26%;
        margin-top:50px;
    }
    .img8 ,.img9{
        width:40%;
        margin-top:50px;
    }
    .tabla th{
        width:25%;  
    }
    
    .tabla td{
        width:25%;
    }
    .seccion6{
        width: 80%;
        margin: 0 auto;
        padding-top:90px;
        min-height:115vh;
        font-size: medium;
        overflow: hidden;
    }


.info-tabla{
    position: relative;
    font-size:x-large;
    font-weight: bold;
    display: block;
    width:31rem;
    
}

.parrafo-tabla{
    color: #06676F;
    font-weight: bold;
    display:block;
    left:0.1rem;
    font-size:95%;
    width:75%;
    position: relative;
    line-height:1em;
    
}

.logo-gob{
    position: relative;
    left:-9rem;
    width:6rem;
    top:3px;
    
}

.zonatabla{
    position: relative;
    bottom:-0.3rem;
    right:7rem;
    width:7rem;
}


.seccion8{
    width: 90%;
    margin-left:60px;
    font-size: larger;
}


  .colaborador {
    font-size:90%;    
    line-height:1;
    width:140px;
    height:140px;
    margin:18px;
}

.cargo-colaborador{
    position: relative;
    top:17px;
}

.externo-colaborador{
    position: relative;
    top:28px;
}

.colaborador .fa-envelope , .colaborador .fa-linkedin ,.fa-researchgate {
    position: relative;
    top:28px;
    margin: 0;
}

.row{
    margin-right:40px;
    margin-bottom:80px;
}



  .parrafo-nosotros{
    font-size:x-large;
    margin: 0 auto;
  }
  
  .contacto{
    font-size:x-large;
    width:55rem;
    text-align: justify;
    margin: 0 auto;
  }

  .parrafo-servicios{
    font-size:large;
    width:55rem;
    text-align: justify;
    margin: 0 auto;
  }

  .subtitulotrans, .subtitulocacho{
    font-size:xx-large;
    padding-top:0px;
  }
  .parrafofinal{
    position: relative;
    left:-330px;
    top:60px;
    
  }
  .rrssfooter{
    position: relative;
    top:35px;
    left:200px
  }
  
  nav ul li{
    display: inline;
    list-style: none;
    font-weight: 700;
    margin:10px;
    position: relative;
    top:1px;
    line-height:75px;
    cursor: pointer;
    
}

footer ul li{
    position: relative;
    left:400px;
    
}

footer{
    border:55px solid #014960;
}

.zonafoticafooter{
width: 10rem;
height: auto;
position: relative;
left:60px;
}

.seccion5, .seccion4{
    padding-top:90px;
}

.seccion7{
    min-height:230vh;
}
.seccion4{
    height:105vh;
}

h3{
    font-size: xx-large;
    font-weight:500;
}

.subtitulo-nos{
    position: relative;
       top:0px;
   }
   .subtitulo-negro.principios{
    position: relative;
    top:-30px;
}
.modal {
    left:23%;
    top:2%;
    width:50%;
}
}