    *{
        margin: 0px;
        padding: 0px;   
    }


    body{
        
        color:#014960;
        font-family: 'Lato', sans-serif;
        overflow-x: hidden;
        scrollbar-width: none;
    }

    #container{
        display:grid;
        width:100%;
        margin: 0 auto;
        margin-top: 0; 
    }
#contacto{
    margin-top:70px; 
}
  .banner{
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    background-color:white;
  }

    .ban{
        margin-top: 0;
        width:25%;
        
    }

    .zonafotica{
        width:130px;
        height:110px;
        margin-left:55px;
        cursor: pointer;
    }
    .nav{
        width:60%;
    }


    .lista1 li{
        float:inline-start; 
        list-style: none;
        font-weight: 700;
        margin:14px;
        margin-left:30px;
        line-height: 50px;
        cursor: pointer;
    }

    .lista1 li a:hover{
        color: #222; 
    }

    .listapie li a:not(:active){
        color: #fff; 
    }

.lista1 li a:not(:active){
        color: #014960; 
    }

    a{
        text-decoration: none;
    }

    .rrss{
        width: 20%;
        display: flex;
        justify-content:left;
        margin-top: 15px;
        padding-top: 10px;
        line-height:40px;
    }
    
    .rrss-icon{
        display: inline-block;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        border-radius:50%;
        text-align: center;
        color:#666;
    }
    
    .rrss-icon:hover{
        background:#3c68ba;
        color: white; 
        cursor: pointer;
    }
    
    
    .rrss-icon i{
        font-size: 21px;
        line-height: 25px;
    }

    .subtitulo{
        font-weight: 400;
        color:white;
        margin-bottom: 40px;
        margin-top: 40px;
        font-size: 40px;
        text-align: center;
    }
    .subtitulo2{
        font-weight: 400;
        color:white;
        margin-bottom: 40px;
        font-size: 40px;
        text-align: center;
    }
    .subtitulo3{
        font-weight: 400;
        color:#014960;
        margin-bottom: 40px;
        font-size: 40px;
        text-align: center;
    }

    
    .contenedor-inicio{
        padding:80px 30px 30px 20px;
        min-height:77vh; 
        margin-top:80px;
        text-align: justify;
        background-image: url(./imagenes/fondos/fondomar8.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed; 
	background-position:center ;
    opacity: 0.9;
    color:black;
    }

    .contenedor{
        padding:80px 30px 30px 20px;
        min-height:77vh; 
        text-align: justify;
        background-image: url(./imagenes/fondos/fondomar5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed; 
	background-position:center ;
    opacity: 0.9;
    color:white;
    }

    .contenedor-vision{
        color: aliceblue;
        padding:170px 60px 60px 60px;
        min-height:70vh;
        text-align: center;
        background-image: url(./imagenes/fondos/fondomar4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed; 
	background-position:center ;
    }
    .contenedor2{
        padding:80px 60px 60px 60px;
        min-height:70vh; 
        text-align: center;
        background-image: url(./imagenes/fondos/fondomar.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed; 
	background-position:center ;
    opacity: 0.9;
    }

  
    .contenedor-servicio{
        padding:105px 60px 60px 60px;
        min-height:100vh; 
        color: aliceblue;
        text-align: center;/*revisar*/
        background-image: url(./imagenes/fondos/fondomar4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed; 
	background-position:center ;
    opacity: 0.9;
    
    }

    .contenedor-principios{
        background-image: url(./imagenes/fondos/fondomar5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed; 
        background-position:center ;
            opacity: 0.9;
        padding:80px 30px 80px 20px;
        min-height:70vh; 
        color: white;
        text-align: justify;
        opacity: 0.9;
    }
    .contenedor-multimedia{
            background-image: url(./imagenes/fondos/fondomar5.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment:fixed; 
            background-position:center ;
            opacity: 0.9;
            margin-top:0px;
            padding:80px 30px 30px 20px;
            min-height:100vh; 
            color: white;
            text-align: center;
    }
    .contenedor-contacto{
        color: black;
        padding:26px 30px 22px 30px;
        min-height:60vh;
        text-align: center;
    }
    

    .video-container {
        background-image: url(./imagenes/fondos/fondomar5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed; 
        background-position:center ;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; 
        opacity: 0.9;
    }
    
    .video-container video {
        max-width: 100%; 
        max-height: 90%; 
    }
    
    .otroscontactos {
        background-image: url(./imagenes/fondos/fondomar.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed; 
        background-position:center ;
            opacity: 0.9;
        padding:80px 30px 30px 20px;
        min-height:40vh; 
        color: white;
        text-align: center;
        opacity: 0.9;
    }

    .pie{
        position: relative;
        right:110px;
        width: 250px; 
      }

    .media{
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        width:100%;
    }

    .media1{
       margin:0 auto;
       text-align: center;
       width:25%;
       padding-bottom: 30px;
    }

   
    .afoot{
        margin:7px;
    }

      form {
        max-width: 400px;
        margin: 0 auto;
      }
      label, textarea, input[type="email"], input[type="submit"] {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }
      textarea {
        height: 100px;
      }

   

input[type="submit"] {
    background-color: #014960;
    border: none;
    color:white;
    border-radius:8px;
    padding:4px;
    width:30%;
    cursor:pointer;
}


img {
    margin-right:25px; 
    margin-left: 120px;
    border-radius:3%;
}

.lista2 li {
    width:auto;
    text-align: justify;
    margin-left: 20px;
    font-size:large;  
    
}


.correo-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px; /* Espacio entre las columnas */
}

.correo-item {
    flex: 1 1 150px; /* Establece el ancho máximo de las columnas */
    margin: 10px; /* Espacio alrededor de cada elemento */
    text-align: left;
    width:30px
}

.correo-item p {
    margin: 5px 0; /* Espacio entre las líneas */
   
}

footer { 
    padding: 2rem;
    background-color: #014960;
    color: white;
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.logo{
    grid-column: 1; 
    
    }

.rrssfoot{
        grid-column: 2;
        width:auto;
        display:flex;
        justify-content:flex-start;
        padding-top: 50px;
        line-height:45px;
        
    }
.info{
        grid-column: 3;
        }

.contacto {
    grid-column: 4;

}

.dir {
    grid-column: 5;
    
}

      
#whatsapp-icon {
    color: green;
}

#email-icon {
    color:#ED1E35;
}


.listapie{
    list-style-type: none;
}

.listafin{
    color:white;
}

.listafin:hover{
    color:#ED1E35;
}


.lista:not(:active) {
    color:white;
}

.correo{
    color:white;
}

.correo:hover{
    color: #ED1E35;
}

.whatsapp{
    color:white;
}

.whatsapp:hover{
    color:#ED1E35;
}

.zonafotica2{
    border-radius: 100px;
    width:150px;
    height:150px;
    line-height:70px;
}



.rrss-icon2{
    display: inline-block;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius:50%;
    text-align: center;
    color:white;
}

.rrss-icon2:hover{
    background:#ED1E35;
    color: white;
    cursor: pointer;
}

.rrss-icon2 i{
    font-size: 21px;
    line-height: 20px;
}

#carrusel {
    position: relative;
  }
  
  .slide {
    position: absolute;
    left: 20%;
    opacity: 0;
    transition: opacity 1s;
    display: none;

  }
  
  .slide.active {
    opacity: 1;  
    display: block; 
  }
  
  .slide img {
    width: 470px;
    height: 370px;
  }
  
  .dots {
    position: absolute;
  top: 400px; /* Ajusta la distancia del borde inferior */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Centra horizontalmente */
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .dots span {
    background: #ccc;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .dots span.active {
    background: #333;
  }

  .orden{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    
  }

  .imagen{
    grid-column: 1;
    max-width: 100%; /* Ajusta el ancho máximo del contenedor de la imagen */
    overflow: hidden; /* Evita que la imagen sobresalga del contenedor */
  }

  .imagen img {
    width: 75%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Ajusta automáticamente la altura proporcionalmente al ancho */
}

  .parrafo {
    grid-column: 2; 
    overflow: hidden;
    /*width:60%;*/
    text-align: justify;
    max-width:400px;
    font-size:large;
    
}


.orden2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.imagen2 {
    grid-column: 1;
    
}

.imagen2 img {
    width: 75%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Ajusta automáticamente la altura proporcionalmente al ancho */
}

.contenido {
    grid-column: 2;
    overflow: hidden;
    text-align: justify;
    max-width: 390px;
    font-size: large;
}

.lista2 {
    margin-left: 5px; /* Agrega margen izquierdo para la lista */
    
}

.lista2 li {
    /* Añade bordes entre los elementos de la lista */
    padding:8px; /* Añade un espacio alrededor del texto de la lista */
    
}
/*funciona sin fotos al lado, si se añade abra que modificar el anidamiento en html*/
.parrafo-servicio {
    margin-top: 10px; /* Añade un espacio entre los elementos de la lista y los párrafos */
    
    margin-left:120px;
    margin-right:172px;
    font-size: large;
    text-align: justify;
}

.orden3{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap:0px; 
 
  }

  .imagen3{
    grid-column: 2;
    position: relative;
    right:20%;
    max-width: 100%; /* Ajusta el ancho máximo del contenedor de la imagen */
    overflow: hidden; /* Evita que la imagen sobresalga del contenedor */
    
  }

  .imagen3 img {
    width: 75%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Ajusta automáticamente la altura proporcionalmente al ancho */
}

  .parrafo3 {
    position: relative;
    left:27%;
    grid-column: 1; 
    overflow: hidden;
    text-align: justify;
    max-width:400px;
    font-size:large;
    
}

/* Define la animación */
@keyframes aparecerDesdeIzquierda {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Aplica la animación a la imagen */
  .imagen img {
    animation: aparecerDesdeIzquierda 1s ease-in-out forwards;
  }
  