    *{
        margin: 0px;
        padding: 0px;   
    }


    body{
        
        color:#014960;
        font-family: 'Lato', sans-serif;
        overflow-x: hidden;
        scrollbar-width: none;
    }

    #container{
        width:100%;
        margin: 0 auto;
        margin-top: 0; 
        border: 1px solid white;
    }
#contacto{
    margin-top:70px; 
}
    /* line-height: 50px; centrar vertical el texto con la misma altura que tiene la caja*/ 
  .banner{
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    background-color:white;
  }

    .ban{
        margin-top: 0;
        width:25%;
        
    }

    .zonafotica{
        width:130px;
        height:110px;
        margin-left:55px;
        cursor: pointer;
    }
    .nav{
        width:60%;
    }


    .lista1 li{
        float:inline-start; 
        list-style: none;
        font-weight: 500;
        margin:14px;
        margin-left:30px;
        line-height: 50px;
        cursor: pointer;
    }

    .lista1 li a:hover{
        color: #222; 
    }

    a{
        text-decoration: none;
    }

    .rrss{
        width: 20%;
        display: flex;
        justify-content:left;
        margin-top: 15px;
        padding-top: 10px;
        line-height:40px;
    }
    
    .rrss-icon{
        display: inline-block;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        border-radius:50%;
        text-align: center;
        color:#666;
    }
    
    .rrss-icon:hover{
        background:#3c68ba;
        color: #222; 
        cursor: pointer;
    }
    
    .rrss-icon i{
        font-size: 21px;
        line-height: 25px;
    }

    .subtitulo{
        font-weight: 400;
        color:#014960;
        margin-bottom: 40px;
        font-size: 40px;
        text-align: center;
    }
    .subtitulo2{
        font-weight: 400;
        color:white;
        margin-bottom: 40px;
        font-size: 40px;
        text-align: center;
    }


    .contenedor{
        padding:1px 30px 30px 20px;
        min-height:70vh; 
        text-align: center;
        background-image: url(./imagenes/fondos/);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed; 
	background-position:center ;
        
    }
    .contenedor1{
        color: aliceblue;
        padding: 60px 60px;
        min-height:70vh;
        text-align: center;
        background-image: url(./imagenes/fondos/fondomar4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed; 
	background-position:center ;
    }
    .contenedor2{
        padding: 60px 60px;
        min-height:70vh; 
        text-align: center;
        background-image: url(./imagenes/fondos/fondomar.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed; 
	background-position:center ;
    }

  
    .contenedor-servicio{
        padding: 60px 60px;
        min-height:100vh; 
        color: aliceblue;
        text-align: center;
        background-image: url(./imagenes/fondos/fondomar.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed; 
	background-position:center ;
    }

    .contenedor-principios{
        margin-top:82px;
        padding: 50px 60px;
        min-height:70vh; 
        color: black;
        text-align: center;
       
    }

    .contenedor-contacto{
        color: black;
        padding: 0px 30px 40px 30px;
        min-height:70vh;
        text-align: center;
    }
    

    video {
        display:inline-block;
        max-width:90%; 
        height: 360px; 
      }

    .pie{
        position: relative;
        right:110px;
        width: 250px; 
      }

    .multimedia{
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: center;
        max-width:1100px;
    }

    .multimedia1{
       margin-right:10px;
       width:25%;
    }
    .multimedia2{
        margin-left:0px;
        width:25%;
    }
    .multimedia3{
        margin-left:0px;
        width:25%;
    }
    .multimedia4{
        position: relative;
        top:1px;
        margin-right:20px;
        margin-left:15px;
        text-align: left;
        width:25%;
    }
    .rrssfoot{
    position:relative;
    top:170px;
    right:220px;
    display: flex;
    justify-content: space-between;
      }
    .afoot{
        margin:7px;
    }

      form {
        max-width: 400px;
        margin: 0 auto;
      }
      label, textarea, input[type="email"], input[type="submit"] {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }
      textarea {
        height: 100px;
      }

   

input[type="submit"] {
    background-color: #014960;
    border: none;
    color:white;
    border-radius:8px;
    padding:4px;
    width:30%;
    cursor:pointer;
}

.direccion{
    display: flex;
    text-align: left;
}

img {
    float: left; 
    margin-right:25px; 
    margin-left: 120px;
}


.parrafo {
    overflow: hidden;
    width:50%;
    text-align: justify;
    display: flex;
    max-width:390px;
    margin-left: 30px;
    padding-left: 10px;
    font-size:large;
}

.parrafo-servicio{
    float:right;
    position: relative;
    left:0px;
    width:60%;
    text-align: justify;
    display: flex;
    margin-left: 150px;
    padding-left: 10px;
    margin-top:14px;
    font-size:large;
    
}



.lista2 li {
    width:83%;
    text-align: justify;
    margin-left: 20px;
    padding-left:9px;
    font-size:large;  
    
}
.imgservicio{
    position: relative;
    right:38px;
    width:27%;
    
}


.footer{
    display:inline;
}


footer {
    padding:25px; /* Espacio alrededor del footer */
    background-color: #014960;
    color: white;
    text-align: center;
    
}
.footer-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px; /* Espacio entre las columnas */
}

.footer-item {
    flex: 1 1 150px; /* Establece el ancho máximo de las columnas */
    margin: 10px; /* Espacio alrededor de cada elemento */
    text-align: left;
    width:30px
}

.footer-item p {
    margin: 5px 0; /* Espacio entre las líneas */
   
}
